<%- layout('/layout/template_view') %>
<div class=" w-75 offset-3">
    <div class="alert alert-danger" role="alert">
        <h3><%= message %></h3>
        <pre><%= err.stack %></pre>
    </div>
</div>
