<%- layout('layout/template_view') %>
<script>
	const PAGE = "MESSAGES";
</script>
<div class="w-50 offset-4">
	<div class="d-flex justify-content-between align-items-center">
		<h1>Messages</h1>
		<a href="/messages/new" class="text-dark text-decoration-none">+</a>
	</div>
	<div class="chat-container"></div>
</div>
