<%- layout('layout/template_view') %>
<script>const PAGE = "EDIT PROFILE";</script>
<div class="w-100 offset-1 mt-5">
    <form
        class="row g-3 needs-validation w-50 m-auto"
        novalidate
        method="POST"
        action="/edit-profile"
    >
        <div class="col-6">
            <label class="form-label">Username</label>
            <div class="input-group has-validation">
                <input
                    type="text"
                    class="form-control"
                    name="username"
                    required
                />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Email</label>
            <div class="input-group has-validation">
                <input
                    type="email"
                    class="form-control"
                    name="email"
                    required
                />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Facebook</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="facebook" />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Instagram</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="instagram" />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Twitter</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="twitter" />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Linkedin</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="linkedin" />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Website</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="website" />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Youtube</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="youtube" />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Github</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="github" />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Upwork</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="upwork" />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Password</label>
            <div class="input-group has-validation">
                <input
                    type="password"
                    class="form-control"
                    name="password"
                    required
                />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Repeat Password</label>
            <div class="input-group has-validation">
                <input
                    type="password"
                    class="form-control"
                    name="repeat_password"
                    required
                />
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-success w-100" type="submit">Save</button>
        </div>
    </form>
</div>
