<%- layout('layout/template_view') %>
<script>const PAGE = "EDIT PROFILE";</script>
<div class="w-100 offset-1 mt-5">
    <form
        class="row g-3 w-50 m-auto"
        novalidate
        method="POST"
        action="/<%= user.username %>/settings?_method=PATCH"
    >
        <div class="col-6">
            <label class="form-label">Password</label>
            <div class="input-group has-validation">
                <input
                    type="password"
                    class="form-control"
                    name="password"
                />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Repeat Password</label>
            <div class="input-group has-validation">
                <input
                    type="password"
                    class="form-control"
                    name="repeat_password"
                />
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-success w-100" type="submit">Save</button>
        </div>
    </form>
</div>
